.footer {
    background: var(--azul-10, #EAF2FD);

}

.footer_margen {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__contenido {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

.footer__contenido .footer__logo {
    font-size: 1.2rem;
}

.footer__contenido .footer__logo .footer__logo-img {
    width: 50px;
}

.footer__listas-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer__li {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.footer__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}


.footer__form-titulo {
    color: var(--gris);
    font-size: 1rem;
    font-weight: 700;
}

.footer__contenedorFormulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__form-nombre {
    width: 100%;
}

.footer__form-nombre>input {
    height: 56px;
    padding: 0 12px;
}


.footer__form-w {
    width: 100%;
    border: none;
    border-radius: 4px;
    position: relative;
}


.footer__form-nombre>input::placeholder {
    font-size: 0.8rem;
    position: absolute;
    top: 0.9em;
}

.footer__form-msj {
    width: 100%;
}

.footer__form-msj>textarea {
    height: 82px;
    padding: 1rem 12px;
    resize: none;
}

.footer__form-msj>textarea::placeholder {
    font-size: 0.9rem;
    position: absolute;
    top: 0.9em;
}

.footer__form-btn {
    padding: 12px 1rem;
    border: none;
    color: var(--white);
    background: var(--azul);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.rodapie {
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: var(--gris);
}

.rodapie>a>img {
    width: 25px;
}

.rodapie__text {
    font-size: 1rem;
    font-weight: 500;
}

@media (min-width: 768px) {
    .footer_margen{
        flex-direction: row;
        gap: 1rem;
        padding: 2rem;
        align-items: center;
    }

    .footer__contenido {
        width: 30%;
        align-items: flex-start;
    }

    .footer__form {
        width: 70%;
    }

    .footer__listas-contenedor {
        align-items: baseline;
    }
}

@media (min-width: 1440px) {

    .footer_margen {
        gap: 0;
        padding: 4rem 0;
    }

    .footer__contenido {
        display: flex;
        flex-direction: row;
        gap: 7rem;
    }

    .footer__contenido {
        width: 48%;
    }

    .footer__form {
        width: 52%;
    }

    .footer__contenido .footer__logo {
        font-size: 0.75rem;
    }

    .footer__contenido .footer__logo .footer__logo-img {
        width: 3.12481rem;
        height: 3.125rem;
    }

    .footer__listas-contenedor {
        gap: 1.5rem;
    }
}