.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
    grid-auto-rows: minmax(156px, 256px);
    grid-gap: 1rem;
    justify-content: center;
    margin: 1em 0;
}

.productos .prod:nth-child(5),
.productos .prod:nth-child(6) {
    display: none;
}


@media (min-width:1000px) {
    .productos .prod:nth-child(5) {
        display: flex;
    }
}


@media (min-width:1440px) {

    .productos .prod:nth-child(6) {
        display: flex;
    }

    .productos {
        margin: 1em 0 0 0;
    }
}