.prod__img-contenedor {
    width: 100%;
    position: relative;
}

.admin__comand {
    position: absolute;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    top: 0.6em;
    right: 0.6em;
}

.delete, 
.edit {
    cursor: pointer;
}
