.allproducts {
    padding: 1.5rem 0;
    flex-grow: 1;
    width: 100%;
}

.allproducts__titulo {
    color: var(--gris);

    font-size: 1.375rem;
}

.allproducts .home__product--category {
    padding-top: 1rem;
}

.allproducts .productos {
    margin: 0;
}

.allproducts__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    flex-wrap: wrap;
    gap: 1.25rem;
}


.add__producto {
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: var(--azul);
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: normal;
}

@media (min-width:768px) {
    .allproducts__header {
        padding: 0 2rem;
    }

}

@media (min-width:1148px) {
    .allproducts {
        padding: 2rem 2rem;
    }

    .allproducts__header {
        padding: 0;
    }

    .allproducts__titulo {
        font-size: 2rem;
    }
}


@media (min-width:1440px) {
    .allproducts {
        padding: 2rem 0;
    }

    .add__producto {
        padding: 1rem;
        font-weight: 400;
        font-size: 1rem;
    }
}