.similarProductos {
    padding: 1rem;
}

@media (min-width: 736px) {
    .similarProductos {
        padding: 2rem;
    }
}

@media (min-width: 1440px) {
    .similarProductos {
        padding: 2rem 0;
    }
}