/* PALETA DE COLORES */

:root {
    --azul: #2A7AE4;
    --gris: #464646;
    --gris-claro:#F5F5F5;
    --white: #FFFFFF;
    --azul-10: #EAF2FD;
    --gris-masclaro: #A2A2A2
}

/* ANCHO DE LA PAGINA */

.contenedor {
    max-width: 1136px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}